body {
  background-image: url(../images/background.jpg);
}

.page-header {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  background: gray;
  height: 75px;
  padding: 15px;

}

.panel-heading{
  font-size: 25px;
  font-weight: bold;
}

.panel-body {
  text-align: center;
  font-size: 15px;
  padding: 10px;
}
